* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	color: #555555;
	background: #000;
}

.slide {
  opacity: 0;
	transition: opacity 1s;
	backface-visibility: hidden;
}

.slide img {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.current {
	display: block;
	opacity: 1;
}

.control-icon {
	width: 36px;
	height: 100%;
	position: absolute; 
	top: 0;
	background: #000;
	background: rgba(0,0,0, .5);
	font-size: 3em;
	color: #FFFFFF;
	opacity: .5;
	border: none;
}

.control-icon:focus {
  outline: 0;
}

.control-icon:hover {
  opacity: 1;
	cursor: pointer;
}

.backward {
	left: 0;
}

.forward {
	right: 0;
}